# C++ build outputs
*.o
*.exe
*.out
*.d
*.so
*.dylib
*.a
*.obj
*.lib
*.dll
*.sample.*
/src/
/include/
/deps/
/cmake/
/build/
/bin/
/Debug/
/Release/
/libdatachannel/
/src/build/
# Python
*.pyc
*.pyo
__pycache__/
*.egg-info
*.egg
/venv/
/.venv/
/env/
/dist/
/build/
*.log
*.pyd
*.so

# OS or Editor files
.DS_Store
*.swp
*.swo
._*
.vscode/
*.idea/
*.project
*.settings
*.iml
*~
